*                               
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif, helvetica;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    background-color: #000;
    height: 100px;
    border-bottom: 5px solid #000;
}

.header-container{
    height: 100px;
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-area{
    width: 100px;
    margin-left: 10px;
    
}

.logo-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #b28756;
}

.menu-area{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-area nav{
    height:100%;
}

.menu-area nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height:100%;
}

.menu-area a{
    text-decoration: none;
    color: #FFF;
    font-weight:600;
    height:95px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-sizing: content-box;
}

.menu-area a:hover,
.menu-area .active a{
    border-bottom: 5px solid #b28756;
    color: #ffffffb6;
}

.banner-container{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /*Ignora tudo que transborda da tela;*/
}

.banner-container .slider{
    width: 1000vw;
    height:100%;
    display: flex;
}

.banner-container .slide{
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0, 0, 0.9);
}

.banner-container .slide-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-container h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner-container h1 span{
    color:#b28756;
}

.banner-container h2{
    font-weight: 500;
    margin-top: 20px;
}

.banner-container a{
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
}

.banner-container .button{
    background-color: #b28756;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
}

.banner-container .sliders-pointer{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container .pointer{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #b28756;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
}

.banner-container .pointer.active{
    background-color: #b28756;
}

.default{
    width: 100vw;
    padding: 50px 0px;
}

.default.light {
    background-color: #f7f7f7;

}

.default.light .section-title,
.default.light .section-body{
    color:#000;
}

.default.dark {
    background-color: #000;

}

.default.dark .section-title,
.default.dark .section-body{
    color:#f7f7f7;
}


.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
    font-weight: 600;

}

.default .section-desc{
    font-size: 12px;
    color: #888;
    margin-top:13px;
    margin-bottom: 40px;
}

.default .section-body{
    width: 90vw;
    max-width: 1140px;
    margin: auto;
}

.default:nth-child(9) .section-body{
    width: 100vw;
}

.section-about-us--left .button{
    background-color: #b28756;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    width: 150px;
    margin-top: 30px;
}

.companies{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.companies-container{
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-evenly;

}

.default.light:nth-of-type(8){
    background-color: #ddd
}

.social-media-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 60px;
}

.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}


.address-section{
    background-image: url('../../media/mapa.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.content-total-area{
    width: 80vw;
    max-width: 1140px;
    height: inherit;
}

.content-area{
    width: 50%;
    margin: 25px 0px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: content-box;
    padding: 40px 0px;
    padding-right: calc(80vw*0.5*0.089);
    padding-left: calc(80vw*0.5*0.089);
}

.contact-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info:nth-last-child(1){
    margin-bottom: 0px;
}

.info-icon-area{
    width: 35px;
    height: 35px;
    background-color: #aaa;
    border-radius: 18px;
    margin-right: calc(80vw*0.5*0.026);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100vw;
    background-color: #000;
}

.footer-container{
    width: 90vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
}








/*
CSS DE ÁREAS ESPECÍFICAS
*/





.section-about-us{
    display: flex;
}

.section-about-us--left{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.section-about-us--left span{
    font-size: 14px;
    line-height: 25px;
}

.section-about-us--right{
    width: 520px;
    text-align: center;
}

.section-about-us--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333 ;
}


.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service .img-area{
    height:68px;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-our-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-menu-area nav{
    border-radius: 20px; 
    background-color: #ddd;
}

.projects-menu-area nav ul{
    display: flex;
    list-style: none;   
}

.projects-menu-area nav ul li{
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.projects-menu-area nav ul li:hover,
.projects-menu-area nav ul .active{
    border-bottom: 5px solid #b28756;
    background-color: #e6e6e6;
}

.projects-menu-area nav ul li:last-child{
    border-right: none;
}

.projects-menu-area nav ul li a{
    text-decoration: none;
    color: #000;
    width: inherit;
    height: inherit;
    padding: 10px;
}


.section-project-photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects--photos{
    width: 280px;
    
}

.photo-area{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.photo-info{
    position: absolute;
    background-color: rgba(0,0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.photo-area:hover .photo-info{
    display: flex;

}

.photo-info h5{
    font-size: 18px;
    font-weight: 600;
}

.photo-area img{
    width: inherit;
    height: inherit;
}

.section-our-projects a{
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
}

.section-our-projects .button{
    background-color: #b28756;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
}

.bg-team{
    background-image: url('../../media/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 0px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team-area{
    background-color: rgba(0,0, 0, 0.8);
    padding: 50px 0px;
}

.section-team .slider{
    width: 1000vw;
    height:100%;
    display: flex;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slide-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointer{
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #b28756;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active{
    background-color: #b28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size:17px;
    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    color:#999;
    margin-top:5px;
    text-transform: capitalize;
}

.section-team-social{
    display: flex;
    margin-top: 20px;
}

.section-team-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height:25px;
    border-radius: 13px;
    background-color: #ccc;
    margin-right: 10px;
}

.section-team-social a:hover{
    background-color: #b28756;
}

.section-body--happy-clients{
    color:#000;
}

.section-happy-clients{
    width: 100vw;
}

.section-happy-clients .slider{
    width: 300vw;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-happy-clients .slide{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-happy-clients .slide-area{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy-clients--avatar{
    width: 150px;
    height: 150px;
}

.happy-clients--name{
    font-weight: 600;
    font-size:17px;
    margin-top: 30px;

}

.happy-clients--role p{
    font-size: 14px;
    color:#000;
    font-weight: 600;
    margin-top:5px;
}

.happy-clients--quote-symbol span{
    font-family: sans-serif;
    font-size: 48px;
    color: #999;
    font-weight: 600;
    margin-top: 10px;
}



.happy-clients--text p{
    line-height: 1.8;
    text-align: center;
}

.sliders-pointer--happy-clients{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliders-pointer--happy-clients .pointer{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #b28756;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
}

.sliders-pointer--happy-clients .pointer.active{
    background-color: #b28756;
}

.section-body--price{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.price-options-area{
    width: 254px;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.price-options-area h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin: 15px;
}

.price-options-area h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 1px;
}

.price-options-area h5{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 8px;
}

.price-options-area p:nth-of-type(odd){
    font-size: 13px;
}

.price-options-area p:nth-of-type(even){
    font-size: 15px;
}

.price-options-area a{
    background-color: #222;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    padding: 12px 28px;
    border-radius: 28px;
    margin: 20px 0px;
}

.price-options-area a:hover{
    background-color: #b28756;
}

.section-body.features{
    max-width: none;
    display: flex;
    flex-direction: column;
}

.section-features-slider{
    width:300vw;
    display: flex;
}

.section-features-area{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-features{
    display: flex;
    width: 100%;
    max-width: 1140px;
}

.section-features--right{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}

.section-features--right span{
    font-size: 14px;
    line-height: 25px;
}

.section-features--left{
    flex: 1;
    text-align: center;
}

.section-features--left img{
    width: 100%;
}

.feature-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
    margin-bottom: 15px;
}

.feature-header{
    display: flex;
    align-items: center;
    
}

.feature-header img{
    margin-right: 30px;
    height: 30px;
}

.feature-header h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
}

.feature-content{
    margin-left: 64px;
    margin-top:20px
}

.feature-content p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 20px;
}

.feature-content ul{
    list-style-type: none;
}

.feature-content ul li{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
}

.feature-content ul li::before{
    content: "-";
    margin: 6px;
    font-size: 18px;
}

.section-body.features .sliders-pointer{
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-body.features .pointer{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #b28756;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
}

.section-body.features .pointer.active{
    background-color: #b28756;
}

.section-body.features .button{
    background-color: #b28756;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    text-decoration: none;
    color: #FFF;
    align-self: center;
}

.section-some-facts{
    display: flex;
}

.section-fact{
    flex: 1;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-fact h1{
    font-size: 28px;
    color: #b28756;
}


.section-fact div{
    width: 12px;
    height: 2px;
    background-color: #aaa;
    margin: 5px 0px;
}

.section-fact h2{
    text-transform: uppercase;
    font-size: 14px;
}

.section-fact p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.social-media-container{
    display: flex;
    justify-content: space-around;
}

.social-media-text{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.social-media-text img{
    margin-right: 7px;
}

.social-media-text span{
    text-transform: uppercase;
    font-size: 16px;
}

.social-media-icons{
    margin-right: 25px;
    text-decoration: none;
    color: #000;
}

.social-media-icons:hover .social-media-icon div{
    filter: opacity(0.6);
}

.social-media-icon{
    display: flex;
    align-items: center;
}

.social-media-icon div{
    background-color: #1DA1F2;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.social-media-icons:nth-child(3) .social-media-icon div{
    background-color: #0072b1;
}

.social-media-icons:nth-child(4) .social-media-icon div{
    background-color: #4267B2;
}

.social-media-icons:nth-child(5) .social-media-icon div{
    background-color: #db4a39;
}

.social-media-icons:nth-child(6) .social-media-icon div{
    background-color: #E60023;
}

.social-media-icon span{
    font-size: 10px;
}

.contact-us-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-top: 50px;
}

.contact-us-content h1{
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-us-content h3{
    text-transform: uppercase;
    color: #888;
    font-weight: 400;
    margin-bottom: 40px;
}

.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #888;
    background-color: transparent;
    padding: 15px 0px;
    text-transform: uppercase;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder{
    color: #888;
    font-family: 'Montserrat';
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: 0;
    border-bottom: 2px solid #b28756;
    transform:scale(1.05)
}

.form-first-line{
    display: flex;
    justify-content: space-around;
}

.form-first-line input{
    flex: 1;

}

.form-first-line input[type=text]{
    margin-right: 20px;
}

.contact-form input[name="subject"],
.contact-form textarea{
    width: 100%;
}

.contact-form a{
    align-self: center;
    text-decoration: none;

}

.contact-form a button{
    background-color: #b28756;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin: 40px 0px;
}

.go-to-top{
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #b28756;
    position: relative;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-top .arrow-up{
    width: 18px;
    height: 18px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    position: relative;
    top:4px;
}

.footer-content{
    width: 90vw;
    max-width: 1140px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.footer-social-media,
.footer-content .text-area,
.footer-content .subscribe-area{
    flex: 1;
    margin-right: 20px;
    align-self: flex-start;
    margin-top: 40px;
}

.footer-social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-top: 0px;
}

.footer-social-media .social-media-icons,
.developer-links a{
    margin-right: 25px;
    text-decoration: none;
    color: #000;
    display: flex;
}

.footer-social-media  .social-media-icons a:hover,
.developer-links a:hover{
    background-color: #b28756;
}

.footer-social-media .social-media-icons a,
.developer-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 6px;
}

.developed-by-area{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.developed-by-area span{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    margin-right: 10px;
}


.developer-links{
    display: flex;
    justify-content: center;
}



.developer-links a:nth-child(1) img{
    width: 22px;
}

.footer-content .text-area{
    color: #fff;
}

.footer-content .subscribe-area{
    margin-right: 0;
}

.subscribe-area form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-area form input{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #888;
    background-color: transparent;
    padding: 15px 0px;
    color: #fff;
}

.subscribe-area form input::-webkit-input-placeholder{
    color: #888;
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
}

.subscribe-area form input:focus{
    outline: 0;
    border-bottom: 2px solid #b28756;
    transform:scale(1.05)
}

.subscribe-area form .button{
    background-color: #b28756;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
    border: none;
}